/*This is the style of the banner of the Web App*/ 
.banner {
    height: 100px;
    margin: 0px -10px 10px;
    background-color: rgb(128, 187, 255);
    border-radius: 10px;
}

.banner h1{
    color: white;
    padding-top: 30px;
    margin-left: 2%;
    display: inline-block;
    font-family: arial;
} 

.banner Img{
    position: relative;
    padding-top: 10px;
    float: right;
    right: 15px;
    height: 75px;
}

/*This is the style of the Tabs of the Web App*/
.custom-tabs-container {
    width: 100%;
    
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}


/*body{
    background-color: rgb(242, 242, 242);
}*/

.text {
    color: black;
    width: 90%;
    margin: 0 auto;
    float: left;
    font-size: 15px;
    text-align: justify;
    font-family: arial;    
}

.text h2{
    color: black;
    padding-top: 15px ;
    text-align: center;
    font-family: arial;
}
