header{
    widows: 100%;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 70px;
}

footer{
    float: right;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

body{
    background-color:rgb(95, 95, 95);
}

#text {
    color: white;
    width: 70%;
    margin: 0 auto;
    float: left;
    font-size: 25px;
}

.flex-container {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    display: flex;
    justify-content: center;
}

.prediction-box{
    border: 10px;
    border-bottom: 0px;
    border-color: yellow;
    border-style: solid;
    text-align: center;
}

#top_spot{
    height: 250px;
    width: 250px;
    align-items: center;
}

#lower_spot{
    height: 250px;
    width: 250px;
    text-align: center;
    align-items: center;
}

.prediction-box img{
    visibility: hidden;
}

