<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <title>Smart Parkig</title>
</head>
<body>
    <header>Smart Parking</header>

    <div class="flex-container" id="top_spot">
        <div class="prediction-box"><img id="box-0" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-1" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-2" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-3" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-4" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-5" src="static/images/car_front.png" width="150" alt=""></div>
    </div>

    <div class="flex-container" id="lower_spot">
        <div class="prediction-box"><img id="box-6" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-7" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-8" src="static/images/car_front.png" width="150" alt=""></div>
        <div class="prediction-box"><img id="box-9" src="static/images/car_front.png" width="150" alt=""></div>
    </div>

    <div id="text">
        <p>
            O objetivo desta aplicação é demonstrar as possibilidades que o edge-computing pode proporcionar.
            Com apenas uma câmera e uma DragonBoard 410c, é possivel fazer o monitoramento de um estacionamento
            de forma remota, cobrindo diversas vagas.
            </p>
        <p>
            A DragonBoard é responsável por ler o vídeo gravado pela câmera em tempo real,
            processar as imagens localmente, e enviar os dados já processados para o sistema de exibição.
            A economia de banda de rede do projeto é alta, já que o vídeo tem vários MB de tamanho, enquanto a informação
            processada (qual vaga está ocupada e qual está livre) pesa alguns bytes.
        </p>
        <p>
            A visualização dos dados nessa aplicação está sendo feita na própia placa,
            que atua como host da aplicação Web, graças ao poderoso processador da DragonBoard que permite
            rodar o algoritmo de processamento e um web-server ao mesmo tempo.
            Uma outra alternativa, possibilitada pela conectividade da placa, seria enviar as informações
            para uma central de controle ou um serviço de nuvem.
        </p>
    </div>

    <footer><img src="static/images/logo.png" alt=""></footer>

    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
        var intervalID = setInterval(update_values,1000);
        function update_values(){
        $.getJSON($SCRIPT_ROOT + '/_update', 
            function(data){
                var i;
                for(i = 0; i<=9; i++){
                    console.log(data.vector[i]);
                    if(data.vector[i] == '1'){
                        document.getElementById("box-"+i).style.visibility="visible";
                    }
                    else{
                        document.getElementById("box-"+i).style.visibility="hidden";
                    }
                }
            });
        };
    </script>


</body>
</html>